  <div class="row">
    <mat-grid-list cols="4" gutterSize="20px">
      <mat-grid-tile *ngFor="let course of wishlistItems">
        <mat-card class="mat-card mb-4">
          <mat-card-content>
            <h5 class="card-title">{{ course.courseName }}</h5>
            <p class="card-text">Author: {{ course.author }}</p>
            <p class="card-text">Price: {{ course.actualPrice }}</p>
            <p class="card-text">Discount: {{ course.discountPercentage }}</p>
            <p class="card-text">Tags: {{ course.tags.join(', ') }}</p>
          </mat-card-content>
          <mat-card-actions>
         
            <button mat-button color="warn" (click)="removeFromWishlist(course)">Delete</button>
            <span *ngIf="isInWishlist(course)" class="wishlist-star">⭐</span>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <div *ngIf="wishlistItems.length === 0">
    <p>No items in the wishlist</p>
  </div>
  